<% @posts.each do |post| %>
  <div class='post_index_entry'>
    <div class='post_title'><%= post.title %></div>
    <div class="context_actions">
      <span class="context_actions_details"><%= l post.created_at %></span> | <%= link_to 'comments', post %>
    </div>
  </div>
<% end %>
