<div class="content">
  <h1><%= @post.title %></h1>
  <p><%= @post.body %></p>
</div>

<div class="content post-comments-section">
  <h3>Comments</h3>
  <div class="content" data-controller="new-comment">
    <%= render 'comments/form', comment: @comment, commentable: @post %>
  </div>
  <%= render @post.comments.all %>
</div>
