// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.comments_actions {
  font-size: small;
}

.comments_child_comments {
  margin-left: 15px;
}

.comments_header {
  color: darkgrey;
  font-size: small;
}
